:root{
  --button:hsl(163, 95%, 43%);
  --footer:hsl(243, 87%, 12%);
  --back-caract:hsl(106, 0%, 98%);
}
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold;
}
main{
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.container{
  margin: 0 5em;
}
figure{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}
a{
  text-decoration: none;
  color: white;
}
.user{
  width: 12em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.sign-up{
  padding: 1em 1.5em;
}
.button{
  background-color: var(--button);
  border-radius: .2em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.logo-fylo{
  width: 10em;
}
.hero{
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.hero .text > *{
  margin: 0;
}
.hero .text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8em;
  height: 45vh;
  width: 36vw;
}
.hero p{
  margin: 2em 0 !important;
}
.get-hero{
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  width: 12em;
  font-weight: 700;
}
.background-caract{
  background-color: var(--back-caract);
  position: absolute;
  /* top: 130vh; */
  height: 120%;
  width: 140%;
  transform: rotate(0deg) skewX(-28deg) skewY(15deg);
  z-index: -1;
  border-radius: 5em;
}
.caracteristicas{
  height: 130vh;
  display: flex;
  align-items: center;
}
.caracteristicas div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.caracteristicas .text{
  text-align: center;
  width: 35em;
  padding-top: 6em;
}
.caracteristicas .text p{
  margin: 3em 0;
}
.caracteristicas p{
  font-weight: bold;
  padding: 0 7em;
  text-align: center;
}
.caracteristicas .img{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas: "img-dev img-sec img-coll" "p-dev p-sec p-coll";
  width: 100%;
  justify-items: center;
  padding-bottom: 6em;
}
.img-dev{
  grid-area: img-dev;
}
.img-sec{
  grid-area: img-sec;
}
.img-coll{
  grid-area: img-coll;
}
.p-dev{
  grid-area: p-dev;
}
.p-sec{
  grid-area: p-sec;
}
.p-coll{
  grid-area: p-coll;
}
.apps{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4em;
}
.apps div{
  background: white;
}
.text-apps{
  width: 30vw;
}
.apps-grid{
  display: flex;
}
.col{
  width: 13em;
}
.col.bottom{
  position: relative;
  bottom: 3em;
}
.apps .grid{
  display: grid;
  grid-template-rows: 7em 1fr;
  grid-gap: 3px;
  margin: .6em .3em;
}
.grid div{
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid .text{
  justify-content: space-around;
}
.grid .text > *{
  margin: 0;
  font-size: .9em;
  text-align: center;
}
.apps img{
  width: 9em;
}
.start{
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.start div{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
}
.start p{
}
.button-start{
  font-weight: bold;
  text-align: center;
  padding: 1em;
  width: 13em;
  margin: 3em;
}
footer{
  background-color: var(--footer);
  color: white;
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container{
  display: grid;
  grid-template-areas: "logo . " "contact nav";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5em 1fr;
  height: 60%;
  align-items: center;
  grid-column-gap: 8em;
}
footer figure{
  grid-area: logo;
}
footer img{
  width: 12em;
  position: relative;
  left: -1em;
}
footer section{
  grid-area: contact;
}
footer section p{
  font-weight: bold;
  font-size: 1.1em;
}
footer form{
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-gap: .5em;
}
footer form input{
  margin: 1em 0;
  padding: .5em;
  border-radius: .2em;
  font-size: 1em;
}
.button.join{
  border: none;
  width: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.contact{
  padding: 1em 0;
}
.contact .line{
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.contact a{
  margin: 0 1em;
}
footer nav{
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(3, 1fr);
}
.list ul{
  padding: 0;
  margin: 1.5em 0;
}
.list li{
  list-style: none;
  margin: 1em 0;
}

@media screen and (max-width:1000px) {
  main{
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 70%;
  }
  .container{
    margin: 0 10%;
  }
  .hero{
    flex-direction: column-reverse;
  }
  .hero .text{
    margin-top: 3em;
    text-align: center;
    align-items: center;
    width: auto;
    max-width: 90vw;
  }
  .get-hero{
    width: 80%;
  }
  .caracteristicas .img{
    grid-template-columns: 1fr;
    grid-template-areas: "img-dev" "p-dev" "img-sec" "p-sec" "img-coll" "p-coll";
  }
  .caracteristicas{
    justify-content: center;
  }
  .caracteristicas .text{
    width: auto;
  }
  .apps{
    flex-direction: column;
    height: inherit;
  }
  .apps .text-apps{
    width: auto;
    max-width: 60vw;
    text-align: center;
  }
  .apps-grid{
    flex-direction: column;
  }
  .apps .grid{
    margin-bottom: 1.3em;
  }
  .apps .col{
    bottom: 0;
  }
  .button-start{
    width: 70%;
  }
  footer .container{
    width: auto;
    display: block;
  }
  footer section p{
    font-weight: normal;
  }
  footer form{
    display: block;
  }
  footer form input{
    width: 100%;
  }
  .button.join{
    width: 35%;
    position: relative;
    float: right;
  }
  .contact{
    margin: 3em 0;
  }
  footer nav{
    display: block;
  }
  footer .list{
    margin: 5em 0;
  }
}
@media screen and (max-width: 560px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero{
    margin: 5em 0;
  }
  .hero img{
    max-width: 50vw;
  }
  .caracteristicas{
    height: auto;
    margin: 10em 0;
  }
  .caracteristicas p{
    padding: 0 3em;
  }
  .caracteristicas .img{
    padding: 0;
  }
  footer{
    display: block;
  }
  footer .container{
    width: 90vw;
    margin: 0 10%;
  }
  footer section{
    width: 90%;
  }

}
