:root{
  --button:hsl(163, 95%, 43%);
  --footer:hsl(243, 87%, 12%);
}
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: bold;
}
main{
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.container{
  margin: 0 5em;
  height: 100vh;

}
figure{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}
a{
  text-decoration: none;
  color: white;
}
.user{
  width: 12em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.sign-up{
  padding: 1em 1.5em;
}
.button{
  background-color: var(--button);
  border-radius: .2em;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.logo-fylo{
  width: 10em;
}
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .text > *{
  margin: 0;
}
.hero .text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  width: 36vw;
}
.get-hero{
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  width: 12em;
  font-weight: 700;
}
.caracteristicas{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.caracteristicas .text{
  text-align: center;
  width: 35em;
  padding-top: 6em;
}
.caracteristicas p{
  font-weight: bold;
  padding: 0 7em;
  text-align: center;
}
.caracteristicas .img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  padding-bottom: 6em;
}
.apps{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4em;
}
.text-apps{
  width: 35vw;
}
.apps-grid{
  display: flex;
}
.col{
  width: 13em;
}
.col.bottom{
  position: relative;
  bottom: 3em;
}
.apps .grid{
  display: grid;
  grid-template-rows: 7em 1fr;
  grid-gap: 3px;
  margin: .6em .3em;
}
.grid div{
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid .text{
  justify-content: space-around;
}
.grid .text > *{
  margin: 0;
  font-size: .9em;
  text-align: center;
}
.apps img{
  width: 9em;
}
.start{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.start p{
  text-align: center;
  width: 55vw;
}
.button-start{
  font-weight: bold;
  text-align: center;
  padding: 1em;
  width: 13em;
  margin: 3em;
}
footer{
  background-color: var(--footer);
  color: white;
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container{
  display: grid;
  grid-template-areas: "logo . " "contact nav";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5em 1fr;
  height: 60%;
  align-items: center;
  grid-column-gap: 8em;
}
footer figure{
  grid-area: logo;
}
footer img{
  width: 12em;
  position: relative;
  left: -1em;
}
footer section{
  grid-area: contact;
}
footer section p{
  font-weight: bold;
  font-size: 1.1em;
}
footer form{
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-gap: .5em;
}
footer form input{
  margin: 1em 0;
  padding: .5em;
  border-radius: .2em;
  font-size: 1em;
}
.button.join{
  border: none;
  width: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.contact{
  padding: 1em 0;
}
.contact .line{
  display: flex;
  align-items: center;
  margin: 1em 0;
}
.contact a{
  margin: 0 1em;
}
footer nav{
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(3, 1fr);
}
.list ul{
  padding: 0;
  margin: 1.5em 0;
}
.list li{
  list-style: none;
  margin: 1em 0;
}
