@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?9moxop');
  src:  url('icomoon.eot?9moxop#iefix') format('embedded-opentype'),
    url('icomoon.ttf?9moxop') format('truetype'),
    url('icomoon.woff?9moxop') format('woff'),
    url('icomoon.svg?9moxop#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
